<template>
  <div class="main">
    <header>味多美</header>
    <div class="tab">
      <div class="left">
        <ul>
          <li v-for="(val,ind) in newData" :key="ind" @click="tabs(ind)">{{val.categoryName}}</li>
        </ul>
      </div>
      <div class="right">
        <div class="rightlist" v-for="(val,ind) in newData" :key="ind" v-if="flag==ind">
          <dl v-for="(val,ind) in val.spuList" :key="ind">
            <dt>
              <img :src="val.littleImageUrl" alt>
            </dt>
            <dd>
              <span>{{val.spuName}}</span>
              <span>￥{{val.currentPrice}}</span>
              <div>
                <p class="del" @click="del(ind,val.currentPrice)">-</p>
                <b class="sum">{{val.activityType}}</b>
                <p class="add" @click="add(ind,val.currentPrice)">+</p>
              </div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <footer>
      <div>
        <span @click="allnum">总数量：{{this.$store.state.allnum}}</span>
        <span>总价：￥{{this.$store.state.allpic}}</span>
      </div>
      <router-link tag='p' class="godetail" to='/tab/detail' :alldata='this.alldata'>去结算</router-link>
    </footer>
    <div :style="{'display':markflag?'block':''}" class="mark">
      <dl v-for="(val,ind) in alldata" :key="ind">
        <dt>
          <img :src="val.littleImageUrl" alt>
        </dt>
        <dd>
          <span>{{val.spuName}}</span>
          <span>￥{{val.currentPrice}}</span>
          <div>
            <p class="del" @click="del(ind,val.currentPrice)">-</p>
            <b class="sum">{{val.activityType}}</b>
            <p class="add" @click="add(ind,val.currentPrice)">+</p>
          </div>
        </dd>
      </dl>
    </div>
  </div>
</template>

<script>
export default {
  name: "tab",
  data() {
    return {
      flag: 0,
      alldata: [],
      markflag: true
    };
  },
  created() {
    this.$store.dispatch("getData");
  },
  computed: {
    newData() {
      return this.$store.state.arr;
    }
  },
  methods: {
    tabs(ind) {
      this.flag = ind;
    },
    add(ind, pic) {
      let flag = this.flag;
      this.$store.commit("addshop", { flag, ind, pic });
    },
    del(ind, pic) {
      let flag = this.flag;
      this.$store.commit("delshop", { flag, ind, pic });
    },
    allnum() {
        this.markflag = !this.markflag;
      let that = this;
      that.alldata = [];
      this.$store.state.arr.forEach(v => {
        v.spuList.map(i => {
          if (i.activityType != 0) {
            that.alldata.push(i);
          }
        });
      });
      console.log(that.alldata);
    }
  }
};
</script>

<style>
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mark {
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 45px;
  z-index: 999;
  background: #aaa;
  display: none;
}
.mark dl {
  display: flex;
  margin-top: 6px;
}
.mark dl dt {
  width: 35%;
}
.mark dl dt img {
  width: 100%;
}
.mark dl dd {
  margin-left: 10px;
  width: 65%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.mark dl dd span {
  margin-top: 10px;
}
.mark dl dd > div {
  display: flex;
  position: absolute;
  right: 20px;
  top: 60px;
}
.mark dl dd > div p {
  width: 25px;
  height: 25px;
  background: blue;
  color: #fff;
  text-align: center;
  line-height: 25px;
  margin-right: 5px;
  border-radius: 50%;
}
.mark dl dd > div b {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}
header {
  height: 44px;
  width: 100%;
  text-align: center;
  line-height: 44px;
  background: #eee;
}
footer {
  width: 100%;
  height: 46px;
  line-height: 46px;
  background: #ccc;
  display: flex;
}
footer div {
  width: 65%;
}
footer div span {
  margin: 0 10px;
}
footer p {
  width: 35%;
  background: rgb(49, 134, 60);
  color: #fff;
  text-align: center;
}
.tab {
  flex: 1;
  overflow: auto;
  width: 100%;
  display: flex;
}
.left {
  width: 25%;
}
.left ul li {
  height: 46px;
  line-height: 46px;
  text-align: center;
  border-bottom: solid 1px #ccc;
}
.active {
  background: #faa;
}
.right {
  width: 75%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.rightlist {
  width: 100%;
  flex: 1;
  overflow: auto;
}
.rightlist dl {
  display: flex;
  margin-top: 6px;
}
.rightlist dl dt {
  width: 35%;
}
.rightlist dl dt img {
  width: 100%;
}
.rightlist dl dd {
  margin-left: 10px;
  width: 65%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.rightlist dl dd span {
  margin-top: 10px;
}
.rightlist dl dd > div {
  display: flex;
  position: absolute;
  right: 20px;
  top: 60px;
}
.rightlist dl dd > div p {
  width: 25px;
  height: 25px;
  background: blue;
  color: #fff;
  text-align: center;
  line-height: 25px;
  margin-right: 5px;
  border-radius: 50%;
}
.rightlist dl dd > div b {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}
</style>
